/* Branded Colors
  lavender: "#E0DEFF",
  navy: "#0F1433",
  green: "#E5EF53",
  red: "#FF4724",
  */

* {
  font-family: "Basis Grotesque";
  color: #0f1433;
  font-size: 18px;
  line-height: 150%;
}

a,
a:visited {
  color: #ff4724;
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  cursor: crosshair;
  background-color: #ff4724;
  color: #fff;
}

h1 {
  font-size: 42px;
  font-weight: normal;
  color: #0f1433;
  text-decoration: none;
  font-family: "Tiempos Fine";
}

a > h1 {
  color: #ff4724;
}

a:hover > h1 {
  color: #fff;
  font-style: italic;
}

h2,
h2 > span {
  color: #0f1433;
  font-family: "Tiempos Fine";
  font-weight: normal;
  font-size: 32px;
  line-height: 140%;
}

.nav,
h3,
h3 > a {
  font-family: "Roboto Mono";
  color: #ff4724;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 180%;
}

/* Mobile Optimization */

@media screen and (max-width: 768px) {
  #root {
    float: none;
    width: auto;
  }
  * {
    font-size: 16px;
  }
  h1 {
    font-size: 25px;
  }
  h2,
  h2 > span {
    font-size: 24px;
  }
  h3 {
    font-size: 15px;
  }
}

/* Scroll Magic Test */
.panel {
  height: 100%;
  width: 100%;
}
.panel.green {
  margin-bottom: 400px;
}
